<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>SQL - Challenge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1>SQL - Challenge</h1>
      <nav>
        <a href="{{ url_for('index') }}">Accueil</a> |
        <a href="{{ url_for('login') }}">Connexion</a> |
        <a href="{{ url_for('flag') }}">Flag</a> |
        <a href="{{ url_for('mode') }}">Mode (tech)</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="container">
    <p>Usage local & pédagogique uniquement — ne testez pas ces techniques sur des systèmes réels.</p>
    <p>Réalisé par <strong>Shrekye - Erwann Dumas</strong></p>
  </footer>
</body>
</html>
